.dark {
    background: dimgrey;
}

.dark-text {
    color: #510adc;
}

.red {
    background: lightcoral;
}

.red-text {
    color: #ee24a4;
}

.some {
    background: #1b491b;
}

.some-text {
    color: #1c8622;
}
