.superInput {
    width: 15%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    background-color: #C0C0C0;
    color: white;

    margin-left: 20px;
}

.errorInput {
    width: 15%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: red 2px solid;
    background-color: #C0C0C0;
    color: white;

    margin-left: 20px;
}

.error {
    color: red;
}