/*
.label {
    padding-top: 10px;
    margin-left: 20px;
    padding-left: 1.2em;
}

.checkbox {
!*    position: absolute;*!
    -webkit-appearance: none;
    appearance: none;

}*/

/*
.spanClassName {
    position: absolute;
    margin-left: -1.2em;
    width: 1em;
    height: 1em;
    border: 1px solid #C0C0C0;
    background-color: white;
}

.checkbox:checked + .spanClassName {
    background-color: #C0C0C0;
}*/
